/* buttons style */
.btn-auth-group {
  display: flex;
  flex-direction: column;
}

.btn {
  align-items: center;
  border: 0; // 1px solid transparent;
  border-radius: .25rem;
  color: rgb(26, 32, 44);
  display: inline-block;
  font-size: calc(1rem + 1vmin);
  justify-content: center;
  margin: .25rem 0;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: none;
  transition: all .15s ease-in-out;
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: button;
  -moz-appearance: button;
  -ms-appearance: button;
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;

  &:not(:disabled):not(.disabled), button:not(:disabled) {
    cursor: pointer;
  }

  &.btn-blue {
    background-color: rgb(49, 130, 206);
    border-radius: .25rem;
    color: rgb(255, 255, 255);
    flex-shrink: 0;
    font-weight: 700;

    &:hover {
      background-color: rgb(43, 108, 176);
      border-color: rgb(43, 108, 176);
      color: rgb(255, 255, 255);
    }

    &:focus {
      background-color: rgb(44, 82, 130);
      color: rgb(255, 255, 255);
    }
  }

  &.btn-transparent {
    background-color: transparent;
    border-radius: .25rem;
    flex-shrink: 0;

    &:hover {
      border-color: rgb(43, 108, 176);
      color: rgb(45, 55, 72);
    }

    &:focus {
      color: rgb(26, 32, 44);
    }
  }
}