/* card styles */
.card-login {
  height: auto;
  min-height: 350px;
}

.card-header {
  border-radius: .375rem !important;
}

.card.bg-blue,
.card .card-header-blue .card-icon,
.card .card-header-blue .card-text,
.card .card-header-blue:not(.card-header-icon):not(.card-header-text),
.card.card-rotate.bg-blue .back,
.card.card-rotate.bg-blue .front {
  background: linear-gradient(60deg, rgb(235, 248, 255), rgb(190, 227, 248));

  &.card-header-blue .card-icon,
  &.card-header-blue .card-text,
  &.card-header-blue:not(.card-header-icon):not(.card-header-text) {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(235, 248, 255, 0.4)
  }
}

.card-login .card-body {
  padding: 0 2rem !important;

  .input-group .input-group-text {
    padding: 1rem .5rem 1rem 0 !important;
  }

  .form-control,
  .is-focused .form-control {
    background-image: linear-gradient(0deg, rgb(99, 179, 237) 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, rgb(210, 210, 210) 1px, hsla(0, 0%, 82%, 0) 0);
  }
}