/* login styles */
.bg-recovery-image {
  background-image: url('/assets/img/bixby-bridge.jpg');
  background-size: cover;
  background-position: top center;
}

.logotype {
  height: 30px;
  pointer-events: none;
}

h3 {
  margin-top: 0;
}
